*.pyc
*.so
*~
.#*
*.swp
.DS_Store
build
ivalice/**/*.html

dist/
doc/_build/
doc/generated/
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/
pip-log.txt
ivalice.egg-info/
.coverage
coverage
tags
coverages.zip
samples.zip
doc/coverages.zip
doc/samples.zip
coverages
samples
doc/coverages
doc/samples


*.nt.bz2
*.tar.gz
*.tgz
joblib
